.flow {
  > * + * {
    margin-top: var(--v-flow, 1rem);
  }
}

.flex {
  display: flex;
  flex-direction: var(--f-direction, row);
  align-items: var(--f-align, center);
  justify-content: var(--f-justify, space-between);
  gap: var(--f-gap, 1rem);
}

*[class*='container'] {
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-block: 4.55rem;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(25px, 1fr) minmax(325px, 1110px) minmax(
      25px,
      1fr
    );
  justify-items: center;
}

.navbar-wrapper {
  row-gap: 1.25rem;
  grid-template-rows: auto 360px auto;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

.navbar {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: stretch;
}

.hero-image {
  grid-area: 2 / 2 / 3 / 4;
}

.header {
  grid-area: 3 / 2 / 4 / 3;
  width: 28ch;
}

main {
  grid-area: 1 / 2 / 2 / 3;
  max-width: 100%;
}

.footer {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}
