// For navigation on mobile
@media (max-width: 49.99em) {
  .navbar {
    position: relative;

    &_nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      padding: 2.25rem 1.5rem;
      border-radius: 10px;

      flex-direction: column;
      align-items: center;
      gap: 1.75rem;

      background-color: hsl(var(--clr-primary-200));

      // move nav to left
      transform: translateX(120%);
      transition: transform 0.5s ease-in-out;
    }

    // Show navbar on click in mobile view
    #nav-toggler:is(:checked) + &_nav {
      display: flex;
      transform: translateX(0%);
    }

    .nav {
      &_item {
        &.user-login,
        &.btn {
          align-self: stretch;
          text-align: center;
        }

        &.user-login {
          padding-top: 1.75rem;
          margin-left: 0;
          border-top: 1px solid hsl(var(--clr-neutral-900), 0.15);
        }

        &.btn {
          margin-top: -0.5rem;
          padding: 0.575rem 1.5rem;
          font-size: var(--fs-400);
        }
      }

      &_link {
        font-size: var(--fs-400);
        color: hsl(var(--clr-neutral-900));
      }
    }
  }
}

@media (min-width: 50em) {
  // LAYOUT
  .grid-container {
    justify-items: start;
  }

  *[class*='container'] {
    padding-block: 4rem;
  }

  .navbar {
    &_toggler {
      display: none;
    }
  }

  .navbar-wrapper {
    grid-template-rows: auto 630px;
    row-gap: 0;
    margin-bottom: 0;
    padding-top: 3rem;
  }

  .header {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: start;
    align-self: center;
    width: min(50%, 50ch);
  }

  .hero-image {
    grid-area: 2 / 2 / 3 / 4;
    justify-self: end;
    align-self: center;
    width: 48%;
  }

  // COMPONENTS
  .header {
    text-align: left;
  }

  main {
    width: 100%;
  }

  .box {
    p {
      width: 35ch;
    }
  }

  .footer {
    --f-direction: row;
    --f-align: start;
    --f-gap: 2rem;
    --v-flow: 0;
    --f-justify: space-between;
    justify-self: stretch;
    margin-top: 0;

    text-align: left;

    &_brand {
      margin-top: -0.5rem;
      margin-right: auto;
    }

    .nav {
      &_item {
        &:first-of-type {
          padding-block-start: 0;
          padding-block-end: 0.55rem;
        }
      }
    }
  }

  .social-list {
    --f-direction: column;
  }
}

@media (min-width: 65em) {
  :root {
    --fs-200: 0.825rem;
    --fs-300: 0.825rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-700: 2.25rem;
    --fs-800: 4.3rem;
  }

  // LAYOUT
  .header {
    width: 50ch;
  }

  // COMPONENTS
  .hero-image {
    img {
      height: 32vw;
    }
  }

  .header {
    --v-flow: 0.2rem;

    p {
      width: 40ch;
    }

    button {
      margin-top: 2rem;
    }
  }

  .form {
    --f-direction: row;
    --f-gap: 1.25rem;
    --b-radius: 10px;
    --fs-500: 1.1rem;

    margin-top: -150px;
    padding: 3rem 3.5rem;

    background-image: url('/images/bg-shorten-desktop.svg');
    background-position: center right;

    input {
      align-self: stretch;
      padding-inline: 1.55rem;
    }

    button {
      --btn-padding: 0.95rem 2.25rem;
      font-size: var(--fs-500);

      max-width: max-content;
    }
  }

  .links-list {
    &_link {
      --f-direction: row;
      --f-align: center;

      padding: 1rem;
      background-color: white;

      a {
        margin-left: auto;
      }
    }
  }

  .content-center {
    --fs-400: 1rem;

    width: 45ch;
    margin-top: 7rem;
  }

  .boxes {
    --f-direction: row;
    --f-gap: 1.75rem;
    padding-bottom: 2.7rem;

    &::after {
      left: 2%;
      top: unset;
      bottom: unset;
      width: 90%;
      height: 8px;
    }

    > :first-child {
      align-self: start;
    }

    > :last-child {
      margin-top: 5rem;
    }
  }

  .box {
    text-align: left;

    &_img {
      margin-inline-start: 0;
    }

    p {
      width: auto;
    }
  }

  .cta {
    padding-block: 3.75rem;

    background-image: url('/images/bg-boost-desktop.svg');
  }

  .footer {
    .social-list {
      --f-direction: row;
    }
  }
}
