// For navigation on mobile
@media (max-width: 49.99em) {
  .navbar {
    position: relative;

    &_nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;

      flex-direction: column;

      background-color: gray;

      // move nav to left
      transform: translateX(120%);
      transition: transform 0.5s ease-in-out;

      // last two items in navbar
      > li {
        margin: 0 !important;
      }
    }

    // Show navbar on click in mobile view
    #nav-toggler:is(:checked) + &_nav {
      display: flex;
      transform: translateX(0%);
    }
  }
}

@media (min-width: 50em) {
  // LAYOUT
  .navbar {
    &_toggler {
      display: none;
    }
  }

  .header {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: start;
    width: 40ch;
  }

  .hero-image {
    grid-area: 2 / 2 / 3 / 4;
    justify-self: end;
    width: 45%;
    height: auto;
  }

  // COMPONENTS
  .form {
    --f-direction: row;

    button {
      max-width: max-content;
    }
  }

  .links-list {
    --f-direction: row;
    --f-align: center;

    margin-top: 1rem;

    &_link {
      padding: 1rem;
      background-color: white;

      a {
        margin-left: auto;
      }
    }
  }

  .boxes {
    --f-direction: row;

    &::after {
      left: 0;
      top: unset;
      bottom: unset;
      width: 100%;
      height: 5px;
    }

    > :first-child {
      align-self: start;
    }

    > :last-child {
      margin-top: 5rem;
    }
  }

  .footer {
    --f-direction: row;
    --f-align: start;
    --f-gap: clamp(1rem, 10vw - 4rem, 4.5rem);

    text-align: left;

    &_brand {
      .brand-icon {
        width: 120px;
        height: 30px;
      }
    }

    &_nav {
      width: 16ch;

      &:first-of-type {
        margin-left: auto;
      }
    }
  }
}
