@import 'navbar';
@import 'buttons';

.hero-image {
  img {
    height: 340px;
    object-fit: cover;
    object-position: left center;
  }
}

.header {
  text-align: center;

  p {
    font-size: var(--fs-500);
    line-height: 1.65;
    color: hsl(var(--clr-neutral-400));
  }

  button {
    margin-top: 1.7rem;
  }
}

.form {
  --f-direction: column;
  --f-gap: 0.75rem;
  --b-radius: 5px;
  --fs-500: 0.9rem;
  --btn-padding: 0.5rem 1rem;

  margin-top: -165px;
  padding: 1.25rem;
  border-radius: 10px;

  background-color: hsl(var(--clr-primary-200));
  background-image: url('/images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;

  input,
  button {
    width: 100%;
    border-radius: var(--b-radius);
  }

  input {
    padding: var(--btn-padding);

    font-size: var(--fs-500);
    line-height: 1.8;

    &::placeholder {
      color: hsl(var(--clr-neutral-400));
    }
  }
}

.links-list {
  margin-top: 1rem;

  &_link {
    --f-direction: column;
    --f-align: stretch;
    --f-gap: 1rem;

    padding: 1rem;

    background-color: white;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.content-center {
  --fs-400: 0.9rem;

  width: 30ch;
  margin-inline: auto;
  margin-top: 5.5rem;

  font-size: var(--fs-400);
  text-align: center;

  p {
    margin-top: 1rem;
  }
}

.boxes {
  --f-direction: column;
  position: relative;
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: limegreen;
    z-index: -1;
  }
}

.box {
  padding: 1rem;
  background-color: white;

  font-size: var(--fs-200);
}

.cta {
  text-align: center;
}

.footer {
  --f-direction: column;
  text-align: center;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    :first-child {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  }
}

.social-list {
  --f-direction: row;
  --f-gap: 1.25rem;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.attribution {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
