@import 'navbar';

.form {
  --f-direction: column;
  --f-gap: 0.5rem;

  margin-top: -80px;
  padding: 1rem;

  background-color: slateblue;

  input,
  button {
    width: 100%;
  }
}

.links-list {
  margin-top: 1rem;

  &_link {
    --f-direction: column;
    --f-align: stretch;
    --f-gap: 1rem;

    padding: 1rem;

    background-color: white;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.content-center {
  width: 30ch;
  margin-inline: auto;
}

.boxes {
  --f-direction: column;
  position: relative;
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: limegreen;
    z-index: -1;
  }
}

.box {
  padding: 1rem;
  background-color: white;

  font-size: var(--fs-200);
}

.cta {
  text-align: center;
}

.footer {
  --f-direction: column;
  text-align: center;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    :first-child {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  }
}

.social-list {
  --f-direction: row;
  --f-gap: 1.25rem;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.attribution {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
