@import 'navbar';
@import 'buttons';
@import 'form';
@import 'box';
@import 'footer';

.hero-image {
  img {
    height: 340px;
    object-fit: cover;
    object-position: left center;
  }
}

.header {
  text-align: center;

  p {
    font-size: var(--fs-500);
    line-height: 1.65;
    color: hsl(var(--clr-neutral-400));
  }

  button {
    margin-top: 1.7rem;
  }
}

.links-list {
  margin-top: 1rem;

  &_link {
    --f-direction: column;
    --f-align: stretch;
    --f-gap: 0.75rem;

    padding-block: 1rem;
    border-radius: 5px;

    background-color: white;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    $padding-inline: 1rem;
    p,
    a {
      padding-inline: $padding-inline;
      font-size: 0.9rem;
    }

    button {
      margin-inline: $padding-inline;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      padding-bottom: 0.55rem;
      border-bottom: 1px solid hsl(var(--clr-neutral-700), 0.3);

      color: hsl(var(--clr-neutral-100));
    }

    a {
      color: hsl(var(--clr-primary-400));
      text-shadow: 0px 0px 1px hsl(var(--clr-primary-400), 0.5);
    }
  }
}

.content-center {
  --fs-400: 0.9rem;

  width: 30ch;
  margin-inline: auto;
  margin-top: 5.5rem;

  font-size: var(--fs-400);
  text-align: center;

  p {
    margin-top: 1rem;
  }
}

.cta {
  text-align: center;
  padding-block-start: 5.75rem;
  padding-block-end: 5rem;

  background-color: hsl(var(--clr-primary-200));

  background-image: url('../images/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    color: white;
    margin-bottom: 1.2rem;
  }
}
