.navbar {
  &-wrapper {
    overflow: hidden;
  }

  display: flex;
  align-items: center;
  gap: 2rem;

  &_brand {
    flex-shrink: 0;
    width: 120px;
    height: 40px;

    svg {
      fill: hsl(var(--clr-neutral-200));
      height: 100%;
    }
  }

  > input {
    display: none;
  }

  &_toggler {
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0 0 0 auto;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;

    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: hsl(var(--clr-neutral-400));
    }
  }

  &_nav {
    display: flex;
    gap: 1.55rem;
    align-items: center;
    flex-basis: 100%;

    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nav {
  &_item {
    font-weight: 700;

    &.user-login {
      margin-left: auto;
    }
  }

  &_link {
    text-decoration: none;
  }
}
